# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Large media files
public/videos/*.mp4
*.mp4
